# IMU
DRIVERS=="usb", ATTRS{idVendor}=="26ac", ATTRS{idProduct}=="0012", MODE="0666", SYMLINK+="rcIMU"

# Arduino
DRIVERS=="usb", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="8057", MODE="0666", SYMLINK+="rcArduino"

